@using LearningManagementSystem.Core.Models.Course
@model DetailsViewModel

@{
    ViewData["Title"] = "Course Details";
}


@if (User.IsInRole("Teacher"))
{
   <a class="btn-sm btn-info" asp-controller="Course" asp-action="Edit" asp-route-id="@Model.Id">Enter & Edit</a>
}

<a class="btn-sm btn-info" asp-controller="Course" asp-action="Edit" asp-route-id="@Model.Id">Enter & Edit</a>

<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <strong>Description</strong>
            </h3>
        </div>

        <div class="card-body">
            <dl>
                <dd>@Model.Description</dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <strong>Latest Announcement</strong>
            </h3>
        </div>

        <div class="card-body">
            <dl>
                <dd>@Model.LatestAnnouncement</dd>
            </dl>
        </div>
    </div>
</div>


@foreach (var topic in Model.Topics)
{
    <div class="row">
        <h3>@topic.Title</h3>
        <div class="col-6">
            <h4>File materials</h4>
            @foreach (var fMaterial in topic.FileMaterials)
            {
                <div>
                    <p>@fMaterial.FileName</p>
                </div>
            }
        </div>
        <div class="col-6">
            <h4>Text materials</h4>
            @foreach (var tMaterial in topic.TextMaterials)
            {
                <div>
                    <p>@tMaterial.Content</p>
                </div>
            }
        </div>
    </div>
}

